<div class="bg-dark footer container-fluid pt-5">

    <div class="row">
        <nav class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center mb-5">
            <ul class="nav">
                <li class="footerlogo"><a class="nav-link" href="index.html"><img src="img/logo.svg" alt="Neighbothood Bike Shop Logo" /></a></li>
                <li><a class="nav-link" href="tel:(619)666-9999"><i class="fa fa-phone" aria-hidden="true">&nbsp;(619)666-9999</i></a></li>
                <li><a class="nav-link" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true" ></i></a></li>
                <li><a class="nav-link" href="https://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="nav-link" href="https://www.yelp.com" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a></li>
                <li><a class="nav-link" href="https://www.youtube.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a class="nav-link" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </nav>
    </div>
    <div>
        <nav>
            <ul class="row">
                <li class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 list-unstyled active"><a class="nav-link" href="index.html">HOME</a>
                    <ul>
                        <li class="list-unstyled"><a class="nav-link" href="pages/rental.html">RENTAL</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/repair.html">REPAIR</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/class.html">CLASS</a></li>
                    </ul>
                </li>
                <li class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 list-unstyled"><a class="nav-link" href="pages/about.html">ABOUT</a>
                    <ul>
                        <li class="list-unstyled"><a class="nav-link" href="pages/history.html">HISTORY</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/owner.html">OWNER</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/staff.html">STAFF</a></li>
                    </ul>
                </li>
                <li class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 list-unstyled"><a class="nav-link" href="pages/bikes.html">BIKES</a>
                    <ul>
                        <li class="list-unstyled"><a class="nav-link" href="pages/adult.html">ADULT</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/kid.html">KID</a></li>
                    </ul>
                </li>
                <li class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2 list-unstyled"><a class="nav-link" href="pages/accessories.html">ACCESSORIES</a>
                    <ul>
                        <li class="list-unstyled"><a class="nav-link" href="pages/helmets.html">HELMETS</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/lights.html">LIGHTS</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/brakes.html">BRAKES</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/chains.html">CHAINS</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="pages/locks.html">LOCKS</a></li>
                    </ul>
                </li>
                <li class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-4 list-unstyled"><a class="nav-link" href="pages/contact.html">CONTACT</a>
                    <ul class="small">
                        <li class="list-unstyled"><a class="nav-link" href="pages/contact.html">MON - SAT &nbsp; 8AM - 6PM</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="mailto:customerservice@tnbs.com">CUSTOMERSERVICE@TNBS.COM</a></li>
                        <li class="list-unstyled"><a class="nav-link" href="https://www.google.com/maps/@32.8245525,-117.1089785,10z">666 SAN DIEGO ST SAN DIEGO CA 92911</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <p class="container-fluid small d-flex justify-content-center pt-5">Copyright mojoezone.com 2016-2017</p>

</div>
