<extends src='layout.html'>
    <block name="title">
        <title>HOME</title>
    </block>
    <block name="style" type="append">
        <link href="index.css" rel="stylesheet">
    </block>
    <block name='heroImage'>
        <include src="components/heroImage.html" />
    </block>
    <block name='content'>
        <div class="container mt-5 mb-5">

            <div class="row">
                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/adult.html"><img class="img-fluid"  src="img/diamondback_woverine_2.2.jpg" alt="Diamondback Woverine 2.2" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/adult.html">Diamondback Wolverine 2.2</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>

                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/adult.html"><img class="img-fluid" src="img/trek_black_silver.jpg" alt="Trek Black Silver" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/adult.html">Trek</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>

                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/adult.html"><img class="img-fluid" src="img/gmc_black.jpg" alt="GMC Black" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/adult.html">GMC</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>



                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/helmets.html"><img class="img-fluid" src="img/met_parachute_red_black.jpg" alt="Met Parachute Red Black" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/helmets.html">Met Parachute</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>

                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/lights.html"><img class="img-fluid" src="img/water_proof_light.jpg" alt="Water Proof Light" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/lights.html">Waterproof Light</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>

                <figure class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3">
                    <a href="pages/brakes.html"><img class="img-fluid" src="img/single_digit_brakes_black.jpg" alt="Single Digit Brakes" /></a>
                    <figcaption class="text-center">
                        <h5><a href="pages/brakes.html">Single Digit Brakes</a></h5>
                        <h5 class="text-danger">On Sale</h5>
                    </figcaption>
                </figure>


            </div>
        </div>
    </block>
</extends>
